<div class="container">
    <h2>📊 Monitor de Aceptación Académica</h2>
    <table border="1" style="width:100%; border-collapse: collapse;">
        <tr style="background:#003366; color:white;">
            <th>Docente (RFC)</th><th>Materia</th><th>Horario</th><th>Estado</th>
        </tr>
        {{range .}}
        <tr style="background: {{if eq .Estado "Aceptada"}}#d4edda{{else}}#fff3cd{{end}}">
            <td>{{.RFC}}</td><td>{{.NombreCurso}}</td><td>{{.Horario}}</td><td><b>{{.Estado}}</b></td>
        </tr>
        {{end}}
    </table>
    <br><a href="/admin-dashboard">Volver al Panel</a>
</div>
